[defaults]
# Donde esta el fichero con la lista de servidores (inventario)
inventory = inventory/hosts.yml

# Donde buscar los roles (relativo a este fichero)
# Sin esto, Ansible busca roles relativo al playbook y no los encuentra
# porque los playbooks estan en playbooks/ y los roles en roles/
roles_path = roles

# Usuario SSH con el que Ansible se conecta a las VMs
# Es el mismo que configuraste en cloud-init (terraform/variables.tf)
remote_user = sergio

# No pedir confirmacion para nuevos hosts SSH (evita el "Are you sure? yes/no")
host_key_checking = False

# Mostrar cuanto tarda cada tarea (util para detectar tareas lentas)
callback_whitelist = timer

# No crear ficheros .retry cuando un playbook falla
# (ensucian el directorio y no aportan mucho en un homelab)
retry_files_enabled = False

# Recoger solo los facts minimos del sistema (IP, SO, RAM...)
# En vez de recoger TODO (mas rapido)
gathering = smart

[privilege_escalation]
# Ansible se conecta como "sergio" pero necesita root para instalar paquetes.
# Esto le dice que use "sudo" automaticamente (como si hicieras "sudo apt install...")
become = True
become_method = sudo
